.vs/
ClassDiagram.cd
Debug/
GeneratedFiles/
Okna.aps
Okna.opensdf
Okna.rc
Okna.sdf
Okna.sln
Okna.v12.suo
Okna.vcxproj
Okna.vcxproj.filters
Okna.vcxproj.user
Release/
Resource.aps
Resource.rc
Resources/
Symulator_Mistrzostw_Swiata/
Symulator_Paulina_Zapletal.pro
Win32/
bitmap1.bmp
gitignore.txt
grupowawindow.ui
ikona.ico
ikona.rc
mainwindow.ui
okna.qrc
oknopowitalne.ui
oknoz32druzynami.ui
oknozmeczamigrupowymi.ui
pomocwindow.ui
pucharowaWindow.ui
rankingwindow.ui
simulationwindow.ui
test.txt
zakonczeniewindow.ui